@import '../../assets/colors';

.company-list {

  & ul {
    list-style: none;
    padding: 0;
    background-color: #fff;
  }

  .company {
    padding: 10px 20px;
    border: solid 1px $pinkish-grey;
    cursor: pointer;

    &:hover{
      border: solid 1px $yellow;
    }
  }

  .title {
    font-size: 1.2em;
  }
}